

/dist/
/testing/
src/db/*
!src/db/RVR60.sqlite
/releases/

# Ignore dependencies
/node_modules/

# Ignore IDE files
/.vscode/
/.idea/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll

# Ignore webpack stats
stats.json

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore backup files
*.bak
*.swp
*~

