# NPM/Distribution ignore file
# This file specifies which files should NOT be included when creating distribution packages

# Source code (users only need the built dist/ folder)
/src/
/testing/
webpack.config.js
.babelrc

# Development dependencies
/node_modules/

# IDE files
/.vscode/
/.idea/
*.sublime-project
*.sublime-workspace

# Git files
.git/
.gitignore
.gitattributes

# CI/CD
.github/
.travis.yml
.circleci/
